# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# ../.env の環境変数POSTGRES_USER、POSTGRES_PASSWORD、POSTGRES_DBの値と一致するようにURLを設定する必要がある
# 例えば、POSTGRES_USER を postgres に書き換える. カッコは消す。
DATABASE_URL="postgresql://(POSTGRES_USER):(POSTGRES_PASSWORD)@localhost:5432/(POSTGRES_DB)?schema=public"
